#metal-description { /* descriptor customisation */
    font-size: 17px;
    font-family: 'Cuprum', sans-serif;
    margin-top: 15px;
}

#info-wrapper { 
    transition: all ease 0.3s;
}

#left-block {
    padding: 0 !important;
    height: 100vh;
}

#right-block {
    height: 100vh;
}

body,
html {
    margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    /* background: #000; */
}

p {
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Cuprum', sans-serif;
}

#menu .item-a { /* dropdown list */
    font-size: 20px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
#menu .item-a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#menu .item-a:hover:after {
    width: 100%;
    left: 0;
}

.dropdown-toggle::before, 
.dropdown-toggle::after {
    border: none !important;
}

.dropdown-menu .dropdown-item {
    font-size: 17px !important;
}

.dropdown-menu {
    margin-top: 0px !important;
}

#content-wrapper {
    margin-top: 20%;
    padding-left: 47px;
    padding-right: 47px;
}

#links-social-media { 
    font-size: 17px;
    position: absolute;
    bottom: 15px;
}

#links-social-media a{
    margin-right: 50px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  #carousel img {
      height: 100vh;
}

span{ display: inline-block;} 
.flip_H{ transform: scale(-1, 1); color:black; }

/* fonts */

@font-face {
    font-family: maiden;
    src: url(../font/maiden.ttf);
}

@font-face {
    font-family: megadeth;
    src: url(../font/megadeth.ttf);
}

@font-face {
    font-family: metallica;
    src: url(../font/metallica.ttf);
}

@font-face {
    font-family: rammstein;
    src: url(../font/rammstein.ttf);
}

@media only screen and (max-width: 1366px) { /*  */
    #content-wrapper p {
        font-size: 15px;
    }
}

/* player properties */

.player {
    display: flex;
    position: relative;
    height: 50px;
    padding: 10px;
    background-color: black;
}

.button_p {
    width: 30px;
    height: 30px;
    text-align: center;
    margin-right: 5px;
    font-size: 14px;
    color: white;
    transition: all ease 0.3s;
    background: transparent;
    border: none;
    outline: none !important;
}

#slider {
    outline: none;
    margin-right: 5px;
    background: red !important;
  }

#slider::-webkit-slider-thumb {
    border-radius: 100%;
  }

#volume {
    background: red;
    outline: none;
    width: 50px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-right: 5px;
  }


  
  
  /* media queries */
  
  @media screen and (max-width: 640px){
    .links {
        width: 350px;
    }
    .links ul li{
        margin-top: 10px;
    }
    .links ul li.google{
        margin-left: 60px;
    }
  }
  
  
  @media screen and (max-width: 340px){
    .links {
        width: 150px;
    }
    .links ul li{
        margin:15px;
    }
    .links ul li.google{
        margin-left: 15px;
    }
  }

  @media screen and (max-width: 1366px){
    #content-wrapper p {
      font-size: 14px !important;
    }
  }