<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task 2</title>
    <link rel="stylesheet" href="calendar.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <div id="app-calendar" class="container">
        <p>Date: <input type="text" :value="date" id="out"></p>
        <br>
        <div class="row">
            <div id="calendar" class="col l6 s12">
                <div id="year-panel" class="row">
                    <div class="col s4 l4">
                        <button @click="prevYear" class="prev btn"><i class="material-icons">arrow_back</i></button>
                    </div>
                    <span class="col s4 l4 center">{{ currentYear }}</span>
                    <div class="col s4 l4">
                        <button @click="nextYear" class="next btn right"><i
                                class="material-icons">arrow_forward</i></button>
                    </div>
                </div>
                <div class="row">
                    <div id="month-panel" class="col s12">
                        <select v-model="currentMonth" @change="getDaysAmount" class="browser-default">
                            <option v-for="month in months" :value="month.name">
                                {{ month.name }}
                            </option>
                        </select>
                        <div id="days" class="row">
                            <div v-for="day in getDaysAmount()" :id="day" @click="setCurrentDay" style="margin-top: 25px; padding: 10px;" class="col l1 day">
                                {{ day }}
                            </div>
                        </div>
                    </div>
                </div>
                <button class="col s12 btn" style="margin-bottom: 15px;" @click="setDate">Set A Date</button>
                <button class="col s12 btn purple darken-1" style="margin-bottom: 15px;" @click="today">Today</button>
                <button class="col s12 btn red" @click="cancelDate">Cancel A Date</button>
            </div>
        </div>
    </div>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="app.js"></script>
</body>

</html>